header {
  height: 100vh;
  // width: 100vh;
  width: 100%;

  .header-text {
    background-color: $themeClrPrimary;
    height: 100%;
    flex-shrink: 0;

    // width: 24.75rem;
    width: 30rem;

    @include respond(laptop) {
      width: 24.75rem;
    }
    @include respond(sm-laptop) {
      width: 22rem;
    }
    // was 25% in html actualy around 29%
    @include respond(ipad) {
      width: 100%;
      background-image: url('../assets/png/image.png');
      background-size: cover;
      background-repeat: no-repeat;
      // align-items: center;
    }

    // explore
    .explore-position {
      position: relative;
      left: 17rem;
      top: 6rem;
      // bottom: 500px;

      @include respond(laptop) {
        left: 12rem;
      }
      @include respond(sm-laptop) {
        left: 9rem;
      }

      @include respond(ipad) {
        left: 0;
        top: -50px;

        // display: flex;
        // justify-content: center;
      }

      h1 {
        color: white;
        font-family: 'Cormorant+Garamond';
        font-size: 240px;
        @include respond(ipad) {
          font-size: 150px;
        }
        @include respond(mobile) {
          font-size: 80px;
        }
      }
      .button {
        position: relative;
        bottom: 2.5rem;
        display: flex;
        align-items: center;

        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.02);
        }

        // width: 100%;
        img {
          width: 43px;
          height: 43px;
        }
        p {
          font-size: 24px;
          color: white;
          margin-bottom: 0.2rem;
          margin-left: 1rem;
        }
      }
    }

    .link2{
      height: 48px;
      width: 48px;
      position: relative;
      top: 170px;


      @include respond(ipad) {
        position: relative;
      top: 130px;
      }
      @include respond(mobile) {
        position: relative;
      top: 170px;
      }
    }

    .starting-animation {
      opacity: 0;
      animation: 1.6s headerAnimation 0.5s ease-out;
      animation-fill-mode: forwards;
    }
  }

  .header-image {
    background-image: url('../assets/png/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    .link {
      width: 68px;
      height: 68px;

      // @include respond(ipad) {
      //   width: 10px;
      //   height: 10px;
      // }

      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    @include respond(ipad) {
      display: none;
      background-image: none;
    }
  }
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translate(-150px, 0);
  }
  70% {
    transform: translate(10px, 0);
  }
  to {
    opacity: 1;
    transform: (0, 0);
  }
}
