footer {
  display: none;
  @include respond(ipad) {
    display: block;
    position: absolute;
    position:fixed;
  	bottom:0;
    height: 100px;
    width: 100%;
    background-color: $themeClrPrimary;
  }
}
