footer {
  display: none;
  @include respond(ipad) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: $themeClrPrimary;
  }

  .link2 {
    height: 36px;
    width: 36px;
  }
}
